%base{:href => "/ui/service"}
= javascript_pack_tag 'manageiq-ui-service/app'
:css
  [ng-cloak] {
    display: none;
  }

  [ng-cloak].splash {
    display: block !important;
  }

  .splash {
    display: none;
    background-color: #428bca;
  }

%div{'ng-app' => 'app',
     'ng-strict-di' => ''}
  %div{'ng-controller' => "AppController as vm",
       'ng-keydown'    => "vm.keyDown($event)",
       'ng-keyup'      => "vm.keyUp($event)"}
    .ng-cloak.splash
      .splash__overlay
        .splash__message

    %ui-view
